* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    min-height: 100vh;
    background-color: #f7f7f7;
    color: #333;
    position: relative;
    margin: 0;
    padding: 0;
    position: relative;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    z-index: 3;
}

.cabecera-izquierda h1 {
    margin: 0;
    color: #3c31dd;
}

.cabecera-izquierda p {
    margin: 0;
    color: #666;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

nav ul li a:hover {
    color: #7033ff;
}

.cabecera-derecha .boton-notificacion {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.boton-logo {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

main {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    position: relative;
}

.seccion-formulario {
    flex: 1;
    position: relative;
    padding-top: 50px;
}


.tarjeta-formulario {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 2;
    position: relative;
    margin-top: 50px;
}

.tarjeta-formulario-login {
    background: #fff;
    padding: 100px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 2;
    position: relative;
}

.tarjeta-formulario h2 {
    font-size: 42px;
    color: #000000;
}

.tarjeta-formulario-login h2 {
    font-size: 42px;
    color: #000000;
}
.fuente-delgada {
    font-weight: 100;
    color: black;
}

.fuente-gruesa {
    color: #7033ff;
}

.fuente-gigante {
    font-weight: 200;
    color: black;
    font-size: 90px;
    margin-right: 220px;
}

.fuente-morada {
    color: #7033ff;
}

.activo {
    color: #7033ff;
    font-weight: 700;
}

.tarjeta-formulario p {
    margin-bottom: 20px;
    color: #666;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input, select, textarea {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}

.Division-elementos {
    display: flex;
    justify-content: space-between;
}

.contenedor-elementos {
    display:flex;
    flex-direction: column;
}

.entradas-horario {
    display: flex;
    justify-content: space-between;
}

.entradas-horario div {
    flex: 1;
}

.entradas-horario div:first-child {
    margin-right: 10px;
}

.button {
    border-radius: 5px;
    background: #7033ff;
    border: 3px solid #7033ff; /* Color de borde */
    color: #fff; /* Color de texto */
    font-weight: 600;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    display: block;
    margin: auto;
    text-align: center;
}

.button:hover {
   background-color: #3c31dd;
   color: #ffff;
   text-shadow: 0px 0px 0px #000000;
 }

.button-blanco {
    border-radius: 5px;
    background: #eeeeee;
    border: 3px solid #eeeeee; /* Color de borde */
    color: #7033ff; /* Color de texto */
    font-weight: 600;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    display: block;
    margin: auto;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.button-blanco:hover {
    background-color: #cecdcd;
    color: #3c31dd;
}

.seccion-imagen {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
}

.seccion-imagen img {
    position: relative;
    max-width: 100%;
    height: 580px;
}

.seccion-imagen-izquierda {
    flex: 1;
    display: flex;
    justify-content: flex-start; /* Alinea la imagen a la izquierda */
    align-items: center;
    position: relative;
    z-index: 2;
}

.seccion-imagen img-izquierda {
    max-width: 100%;
    height: 580px;
    position:relative;
}

.footer {
    background-color: #2B3238;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: flex-start;
}

    .footer__container_copyright div {
        flex: 1;
        text-align: left;
        margin-right: 20px;
    }
.footer h3 {
    margin-bottom: 10px; 
}
.footer p {
    margin-bottom: 10px; 
    line-height: 1.6; 
    overflow-wrap: break-word; /* Rompe palabras largas si no caben en una línea */
    max-width: 600px; 
    text-align: justify; 
    text-justify: inter-word; 
}

.container {
    width: 60%;
    margin: 0 auto;
    padding: 40px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    z-index:2;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

    .calendar-header button {
        background-color: #45539D;
        color: white;
        border: none;
        padding: 20px;
        cursor: pointer;
        border-radius: 5px;
    }

.calendar-header h3 {
    margin: 0;
    font-size: 24px;
}

.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    width: 80%;
    text-align: center;
    margin: 0 auto;
}

.calendar div {
    border: 1px solid #ccc;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

.calendar .header {
    background-color: #e9e9e9;
    font-weight: bold;
    padding: 15px 0;
}

.calendar .day {
    background-color: #ffffff;
    transition: background-color 0.3s;
}

    .calendar .free-day {
        background-color: #45539D;
        color: white;
        transition: background-color 0.3s;
    }

    .calendar .day:hover {
        background-color: #5f74d9;
    }

    .calendar .free-day:hover {
        background-color: #5f74d9;
    }

.calendar-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

    .calendar-footer span {
        background-color: #45539D;
        color: white;
        padding: 10px 20px;
        border-radius: 5px;
    }

.marcas-contenedor {
    display: flex;
    align-items: center;
    padding: 5rem;
    margin: 0 auto;
    gap: 7rem;
    z-index:2;
}

.clock-icon {
    width: 350px;
    height: 330px;
}

.info {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white;
    border-radius: 8px;
    font-size: 1.5em;
    padding: 30px; /* top, right, bottom, left */
}

.info h2 {
    color: #7033ff;
}

.info p {
    margin-top: 10px; /* Añadir espacio entre párrafos */
}

.inicioSesion {
    border: none;
    border-bottom: 3px solid;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    outline: none;
}

    .inicioSesion:focus {
        border-bottom-color: #5E58F8;
    }

.boton-logo {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .boton-logo img {
        width: 130px;
        height: 70px;
    }


.tag-list {
    list-style-type: none;
    padding: 0;
}

    .tag-list li {
        display: inline-block; 
        margin-right: 10px; 
        margin-bottom: 10px; 
        padding: 5px 10px; 
        background-color: #333; 
        border-radius: 5px; 
    }

        .tag-list li a {
            text-decoration: none;
            color: white; 
        }

.container-menu {
    background-color: #5E58F8;
    color: white;
    text-align: center;
    padding: 50px;
}

.header-menu {
    margin-bottom: 50px;
}

.options-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.option-menu {
    width: 30%;
    margin: 10px 0;
}

.option img {
    width: 50px;
    height: 50px;
}

.tipo-actividad-container {
    display: flex;
    align-items: center;
    gap: 10px; /* Espacio entre el TextBox y el Button */
}

    .tipo-actividad-container label {
        margin-right: 10px; /* Espacio entre la etiqueta y el TextBox */
    }

.button1 {
    background-color: #5E58F8;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

    .button1:hover {
        background-color: #4B47C6;
    }

.contenido-horas {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
    .contenido-horas div {
        display: flex;
        flex-direction: column;
    }
.label-horas-restantes {
    font-size: 2em;
    color: #7033ff;
    font-weight: bold;
    text-align: right;
}

.table-container {
    padding: 20px;
    margin: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
}

    .table-container table {
        width: 100%;
        border-collapse: collapse;
    }

    .table-container th, .table-container td {
        padding: 10px;
        border: 1px solid #ddd;
        text-align: left;
    }

    .table-container th {
        background-color: #f2f2f2;
    }

.button-grid {
    min-width: 120px;
    position: relative;
    cursor: pointer;
    padding: 12px 17px;
    border: 0;
    border-radius: 7px;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
    background: radial-gradient(ellipse at bottom, #7033ff 0%, #5e29d3 45%);
    color: #fff;
    transition: all 0.4s ease;
}

    .button-grid::before {
        content: "";
        width: 70%;
        height: 1px;
        position: absolute;
        bottom: 0;
        left: 15%;
        background: rgba(255, 255, 255, 0.5);
        opacity: 0.2;
        transition: all 0.4s ease;
    }

    .button-grid:hover {
        color: #fff;
        transform: scale(1.1) translateY(-3px);
    }

        .button-grid:hover::before {
            opacity: 1;
        }
.main-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.matrix-container {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
}

h3 {
    text-align: center;
    margin-bottom: 10px;
    color: #7033ff;
}

.matrix {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.matrix-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    background-color: #f9f9f9;
}

.dynamic-data {
    font-size: 1.5em;
    font-weight: bold;
}

.static-label {
    font-size: 0.9em;
    color: #666;
}
.button-delete {
    background-color: #ff3333; /* Rojo */
    color: #fff; /* Texto blanco */
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

    .button-delete:hover {
        background-color: #cc0000; /* Rojo oscuro */
    }
